[Desktop Entry]
Type=Application
Name=Zenytt
GenericName=Server management
GenericName[fr]=Gestion de serveurs
Comment=Manage, browse and monitor your servers over SSH
Comment[fr]=Gérer, parcourir et surveiller ses serveurs par SSH
Exec=zenytt-desktop
Icon=dev.zenytt.desktop
Terminal=false
Categories=Development;Network;RemoteAccess;System;
Keywords=ssh;sftp;terminal;docker;server;vps;devops;serveur;
StartupWMClass=zenytt-desktop
